<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to the Starships App</h1>

    <div>
      <% if (starships && starships.length > 0) { %>
      <ul>
        <% starships.forEach((starship) => { %>
        <li>
          <a href="/<%= starship.id %>"> <%= starship.name %> </a>
        </li>
        <% }) %>
      </ul>
      <% } else { %>
      <p>No starships available.</p>
      <% } %>
      <a href="/new">Add New Starship</a>
    </div>
  </body>
</html>
